<?xml version="1.0"?>
<config>
    <modules>
        <MOIP_Onestepcheckout>
            <version>0.2.0</version>
        </MOIP_Onestepcheckout>
    </modules>
    <frontend>
        <secure_url>
            <onestepcheckout>/onestepcheckout/</onestepcheckout>
        </secure_url>
        <routers>
            <onestepcheckout>
                <use>standard</use>
                <args>
                    <module>MOIP_Onestepcheckout</module>
                    <frontName>onestepcheckout</frontName>
                </args>
            </onestepcheckout>
        </routers>
        <layout>
            <updates>
                <onestepcheckout>
                    <file>moip_onestepcheckout.xml</file>
                </onestepcheckout>
            </updates>
        </layout>
        <translate>
            <modules>
                <MOIP_Onestepcheckout>
                    <files>
                        <default>MOIP_Onestepcheckout.csv</default>
                    </files>
                </MOIP_Onestepcheckout>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
            <onestepcheckout>
                
                <onestepcheckout after="Mage_Adminhtml">Onestepcheckout_Adminhtml</onestepcheckout>
                <args>
                    <module>MOIP_Onestepcheckout</module>
                    <frontName>onestepcheckout</frontName>
                </args>
            </onestepcheckout>
        </routers>
    </admin>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <MOIP_Onestepcheckout>
                            <title>Onestepcheckout Module</title>
                            <sort_order>10</sort_order>
                        </MOIP_Onestepcheckout>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <onestepcheckout translate="title" module="onestepcheckout">
                                            <title>onestepcheckout</title>
                                        </onestepcheckout>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <onestepcheckout>
                    <file>moip_onestepcheckout.xml</file>
                </onestepcheckout>
            </updates>
        </layout>
        <translate>
            <modules>
                <MOIP_Onestepcheckout>
                    <files>
                        <default>MOIP_Onestepcheckout.csv</default>
                    </files>
                </MOIP_Onestepcheckout>
            </modules>
        </translate>
    </adminhtml>
    <global>
        <rewrite>
            <moip_onestepcheckout_index>
                <from><![CDATA[#^/checkout/onepage/#]]></from>
                <to>/onestepcheckout/index/</to>
            </moip_onestepcheckout_index>

           
            <moip_onestepcheckout_order>
                <from><![CDATA[#^/sales/order/reorder/#]]></from>
                <to>/onestepcheckout/order/reorder/</to>
            </moip_onestepcheckout_order>
        
        </rewrite>
        <models>
            <onestepcheckout>
                <class>MOIP_Onestepcheckout_Model</class>
                <resourceModel>onestepcheckout_mysql4</resourceModel>
            </onestepcheckout>
            <onestepcheckout_mysql4>
                <class>MOIP_Onestepcheckout_Model_Mysql4</class>
                <entities>
                    <onestepcheckout>
                        <table>moip_onestepcheckout</table>
                    </onestepcheckout>
                </entities>
            </onestepcheckout_mysql4>
        </models>
        <resources>
            <moip_onestepcheckout_setup>
                <setup>
                    <module>MOIP_Onestepcheckout</module>
                    <class>Mage_Customer_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </moip_onestepcheckout_setup>
        </resources>
        <blocks>
            <onestepcheckout>
                <class>MOIP_Onestepcheckout_Block</class>
            </onestepcheckout>
            <adminhtml>
                <rewrite>
                    <sales_order_grid>MOIP_Onestepcheckout_Block_Adminhtml_Onestepcheckout_Sales_Order_Grid_Column</sales_order_grid>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <onestepcheckout>
                <class>MOIP_Onestepcheckout_Helper</class>
            </onestepcheckout>
        </helpers>
        <events>
            <checkout_cart_add_product_complete>
                <observers>
                    <onstepcheckout>
                        <type>singleton</type>
                        <class>onestepcheckout/observer</class>
                        <method>checkout_cart_add_product_complete</method>
                    </onstepcheckout>
                </observers>
            </checkout_cart_add_product_complete>
        </events>
        <fieldsets>
            <sales_convert_quote_address>
                <fee_moip>
                    <to_order>*</to_order>
                </fee_moip>
                <base_fee_moip>
                    <to_order>*</to_order>
                </base_fee_moip>
            </sales_convert_quote_address>

            <sales_convert_quote_item>
                <fee_moip>
                    <to_order_item>*</to_order_item>
                </fee_moip>
                <base_fee_moip>
                    <to_order_item>*</to_order_item>
                </base_fee_moip>
                <customer_tipopessoa>
                    <to_quote>*</to_quote>
                </customer_tipopessoa>
            </sales_convert_quote_item>

            <checkout_onepage_quote>
                <customer_tipopessoa>
                    <to_customer>tipopessoa</to_customer>
                </customer_tipopessoa>
                <customer_tipopessoa>
                    <to_quote>*</to_quote>
                </customer_tipopessoa>
            </checkout_onepage_quote>

            <checkout_onepage_billing>
                <customer_tipopessoa>
                    <to_customer>tipopessoa</to_customer>
                </customer_tipopessoa>
                <customer_tipopessoa>
                    <to_quote>*</to_quote>
                </customer_tipopessoa>
            </checkout_onepage_billing>

            <sales_convert_quote>
                <customer_tipopessoa>
                    <to_customer>tipopessoa</to_customer>
                </customer_tipopessoa>
                <customer_tipopessoa>
                    <to_quote>*</to_quote>
                </customer_tipopessoa>
            </sales_convert_quote>

            <sales_convert_order>
                <customer_tipopessoa>
                    <to_customer>tipopessoa</to_customer>
                </customer_tipopessoa>
                <customer_tipopessoa>
                    <to_quote>*</to_quote>
                </customer_tipopessoa>
            </sales_convert_order>

            <customer_account>
                <tipopessoa>
                    <to_quote>customer_tipopessoa</to_quote>
                </tipopessoa>
            </customer_account>

        </fieldsets>
    </global>
    <default>
        <onestepcheckout>
            <config>
                <enabled>1</enabled>
                <default_paymentmethod></default_paymentmethod>
                <allowshippingotheraddress>1</allowshippingotheraddress>
                <allowguestcheckout>1</allowguestcheckout>
                <allowregister>1</allowregister>
                <enable_buscacep>1</enable_buscacep>
                <enable_pj>1</enable_pj>
            </config>
            <layout>
                <page_titulo>Pagamento</page_titulo>
                <page_conteudo>Sua compra segura via Transparente</page_conteudo>
                <use_linha_suporte>1</use_linha_suporte>
                <content_linha_suporte><![CDATA[Dúvidas? <a href="javascript:$zopim.livechat.window.show()" class="Chat" id="control_chat">Chat Online</a> | Sac (11) 3333-3333]]></content_linha_suporte>
                <use_pre_cadastro>1</use_pre_cadastro>
                <page_layout>4</page_layout>
                <style_cor>174D7D</style_cor>
                <style_cor_background>FAFAFA</style_cor_background>
                <style_cor_header>FFFFFF</style_cor_header>
                <style_cor>333333</style_cor>
                <progress_bar>5CB85C</progress_bar>
                <style_cor_header_text>333333</style_cor_header_text>
                <style_cor_footer>333333</style_cor_footer>
                <botao_cor_success>5CB85C</botao_cor_success>
                <botao_cor_success_hover>447A18</botao_cor_success_hover>
                <botao_cor_success_qty_up>FFFFFF</botao_cor_success_qty_up>
                <botao_cor_success_qty_down>FFFFFF</botao_cor_success_qty_down>
                <borda_cor_success_qty>333333</borda_cor_success_qty>
                <botao_cor_default>F7F7F7</botao_cor_default>
                <botao_cor_default_font>333333</botao_cor_default_font>
                <icon_cor_default_font>187506</icon_cor_default_font>
                <botao_cor>333333</botao_cor>
                <allowsubscribenewsletter>2</allowsubscribenewsletter>
                <enable_quicklogin>1</enable_quicklogin>
                <allowcoupon>1</allowcoupon>
            </layout>
            <addfield>
                <showimageproduct>1</showimageproduct>
                <enable_giftmessage>0</enable_giftmessage>
                <use_secure>1</use_secure>
                <content_options><![CDATA[Termos e condições do site...]]></content_options>
            </addfield>            
        </onestepcheckout>
    </default>
</config>